<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        cacheDirectory="runtime/phpunit"
        colors="true"
        processIsolation="true"
        stopOnFailure="true"
>
    <coverage/>
    <testsuites>
        <testsuite name="Library Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="env" value="test" force="true"/>
    </php>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
